ul {
    list-style-type:none;
}

ul.sublist  li a{
    color: #8e8c8c;
}

ul.subSublist li a {
    color: #379cd7;
}

    ul ul {
        display: none;
    }

    ul li:hover > ul {
        display: block;
    }

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

